{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    // usage of console should be allowed
    no-console: 0,
    // allow trailing spaces in blank lines
    no-trailing-spaces: 0,
    // max length for one code row
    max-len: ["error", { "code": 200 }],
    no-plusplus: ["error", { "allowForLoopAfterthoughts": true }],
    object-shorthand: ["warn", "consistent"]
  }
}
